ul {
    font-family: 'Carter One', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 200vh;
}

h3 {
    font-family: 'Carter One', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#burger {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      skyblue, skyblue 20%, 
      white 20%, white 40%, 
      skyblue 40%, skyblue 60%, 
      white 60%, white 80%, 
      skyblue 80%, skyblue 100%
    );
}

#burger #sidebar {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: skyblue;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

#burger-input:checked + #burger #sidebar {
    visibility: visible;
    left: 0;
}

#burger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}